html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, footer {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  background: #f4f4f4 url(../images/cubes.png);
  color: #444;
  font: 16px/1.5 Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 20px;
}

a {
  border-bottom: 1px solid #ccc;
  color: #87b77c;
  text-decoration: none;
}

a:hover {
  color: #f2ab00;
}

header {
  margin: 20px auto;
  width: 600px;
}

header .logo {
  background: url(../images/logo.png);
  text-indent: -9999px;
  margin: 0 auto;
  width: 155px;
  height: 120px;
}

#content {
  background: #fff url(../images/sidebar.png) right repeat-y;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
}

.day {
  border-radius: 5px;
  float: left;
  padding: 20px;
  width: 580px;
}

h1 {
  border-bottom: 1px dotted #ccc;
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 24px;
  padding: 5px 10px;
}

h1:focus {
  border-color: #f2ab00;
  outline: none;
}

ul.entries {
  margin-bottom: 20px;
}

li.entry {
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 10px 0;
}

li.entry:nth-child(odd) {
  background: #eee;
}

li.entry:last-child {
  border-bottom: 1px solid #ccc;
}

li.entry:hover {
  background: #ffd87b !important;
  border-color: #ffce59 !important;
}

.time-container {
  float: left;
  padding: 5px 10px;
  width: 80px;
}

.time {
  color: #999;
  border-bottom: 1px dotted #ccc;
}

.location-container {
  float: left;
  padding: 5px 10px;
  width: 426px;
}

.location {
  border-bottom: 1px dotted #ccc;
  font-weight: bold;
}

a.remove {
  display: none;
}

li.entry:hover a.remove {
  background: url(../images/remove.png);
  border: none;
  display: block;
  float: left;
  text-indent: -9999px;
  margin: 10px 10px 10px 10px;
  width: 14px;
  height: 14px;
}

.add_entry {
  overflow: hidden;
}

.add_entry_input_container {
  float: left;
  overflow: hidden;
  position: relative;
}

.add_entry_input {
  background: white url(../images/search.png) 10px 13px no-repeat;
  border: 1px solid #ccc;
  font: 16px/1 Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 36px;
  width: 432px;
  height: 20px;
}

.add_entry_input:focus {
  border-color: #f2ab00;
  outline: none;
}

ul.add_entry_results {
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  width: 478px;
}

ul.add_entry_results li {
  padding: 5px;
}

ul.add_entry_results li.smart_autocomplete_highlight {
  background: #ffecb1;
}

.add_entry_submit {
  background: #87b77c;
  border: none;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-weight: bold;
  line-height: 1.4;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 70px;
  height: 22px;
}

.add_entry_submit:hover {
  background: #f2ab00;
  color: #fff;
}

#sidebar {
  float: left;
  padding: 20px;
  width: 300px;
}

#sidebar_loading {
  display: none;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 100px;
  text-align: center;
}

#sidebar_results h1 {
  font-size: 24px;
}

#sidebar_results img {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 288px;
}

#sidebar_results img.square {
  margin: 10px 19px 0 0;
  width: 75px;
}

#sidebar_results img.square:last-child {
  margin-right: 0;
}

#sidebar_results p.description {
  background: #eee;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px;
}

.save {
  background: #87b77c;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.save:hover {
  background: #f2ab00;
  color: #fff;
}

footer {
  font-size: 12px;
  margin: 40px auto 20px;
  text-align: center;
  width: 960px;
}

footer img {
  margin-top: 10px;
}