<div id="content">
  <div class="day">
    <h1 class="name" contenteditable>My trip (click to rename)</h1>
    <ul class="entries">
    </ul>


    <div class="add_entry">
      <div class="add_entry_input_container">
        <input type="text" class="add_entry_input" placeholder="New location">
        <ul class="add_entry_results"></ul>
      </div>
      <a href="javascript:void(0)" class="add_entry_submit">Add stop</a>
    </div>
    <form method="post" action="/save" class="save_form">
      <input type="submit" class="save_button" value="Save"></input>
    </form>
  </div>
  <div id="sidebar">
    <div id="sidebar_loading">
      <img src="images/loading.gif" alt="Loading">
      <p>Loading information</p>
    </div>
    <div id="sidebar_results">
      <div></div>
    </div>
  </div>
</div>

<script type="text/template" id="entry-template">
<li class="entry">
  <div class="time-container">
    <span class="time"></span>
  </div>
  <div class="location-container">
    <span class="location"></span>
  </div>
  <a href="javascript:void(0)" class="remove">Remove</a>
</li>
</script>

<script type="text/template" id="sidebar-template">
  <h1 class="name"></h1>
  <div class="images"></div>
  <h2 class="nearby_header">Nearby places</h2>
  <ul class="nearby"></ul>
</script>

<script type="text/template" id="nearby-template">
<li class=nearby_entry">
  <span class="name"></span>
</li>
</script>
