<div id="content">
  <div class="day">
    <h1 contenteditable>My Trip</h1>
    <ul class="entries">
      <% trip.stops.forEach(function(stop) { %>
        <li class="entry">
          <div class="time-container">
            <span class="time"><%= dateToString(stop.time) %></span>
          </div>
          <div class="location-container">
            <span class="location"><%= stop.place.name %></span>
          </div>
        </li>
      <% }); %>
    </ul>
    <div id="map_canvas" style="width: 580px; height: 300px"></div>
  </div>
  <div id="sidebar">
    <div id="sidebar_loading">
      <img src="images/loading.gif" alt="Loading">
      <p>Loading information</p>
    </div>
    <div id="sidebar_results">
      <div></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var trip = JSON.parse('<%- JSON.stringify(trip) %>');

  $(function() {
    var map = new GMap2(document.getElementById("map_canvas"));
    renderMap(map, trip);
  });
</script>

<script type="text/template" id="sidebar-template">
  <h1 class="name"></h1>
  <div class="images"></div>
  <p class="description"></p>
</script>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAtYTX3sn3M2WXg0Gj4tVm1xRwx-s141bFePPLOhS8pr3ISkvplhSTkOvvstHkKOH5T_hTOo9jT7Z2hg" type="text/javascript"></script>