<div id="content">
  <div class="day">
    <h1 contenteditable><%= trip.name %></h1>
    <ul class="entries">
      <% trip.stops.forEach(function(stop) { %>
        <li class="entry">
          <div class="time-container">
            <span class="time"><%= dateToString(stop.time) %></span>
          </div>
          <div class="location-container">
            <span class="location"><%= stop.place.name %></span>
          </div>
        </li>
      <% }); %>
    </ul>
    <div id="map_canvas" style="width: 580px; height: 300px"></div>
  </div>
  <div id="sidebar">
    <div id="sidebar_loading">
      <img src="images/loading.gif" alt="Loading">
      <p>Loading information</p>
    </div>
    <div id="sidebar_results">
      <div></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var trip = JSON.parse('<%- JSON.stringify(trip) %>');

  $(function() {
    renderMap('map_canvas', trip);
  });
</script>

<script type="text/template" id="sidebar-template">
  <h1 class="name"></h1>
  <div class="images"></div>
  <p class="description"></p>
</script>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>