!!! 5
html(lang='en-US')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:lighter,regular,bold', media='all')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css', media='all')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(type='text/javascript', src='javascripts/jquery.smart_autocomplete.js')
    script(type='text/javascript', src='javascripts/events.js')
    script(type='text/javascript', src='javascripts/caustic.js')
    script(type='text/javascript', src='javascripts/FlickrRequest.js')
    script(type='text/javascript', src='javascripts/main.js')
    title
  body
    header
      .logo Tripi
    #content!= body
    footer
      p
        | A
        a(href='http://developer.yahoo.com/hacku/cmu.html') Hack U
        | project by Jeff Cooper, Chris Lee, Prasanth Somasundar, and Vinay Vemuri
      img(src='images/google.png', alt='Powered by Google')
